<div>
    <h3>Корзина</h3>
    <table class="table table-hover" cellpadding="0" cellspacing="0">
        <tr>
            <td>Название</td>
            <td>Количество</td>
            <td>Цена</td>
            <td></td>
        </tr>
        <tbody>
        <tr ng-repeat="item in cart.items">
            <td>{{item.productTitle}}</td>
            <td>
                <button type="button" class="btn btn-secondary btn-sm" ng-click="increaseProductQuantityInCart(item.productId)">+</button>
                {{item.quantity}}
                <button type="button" class="btn btn-secondary btn-sm" ng-click="decreaseProductQuantityInCart(item.productId)">-</button>
            </td>
            <td>{{item.pricePerProduct + ' x ' + item.quantity + ' = ' + item.price}}</td>
            <td><button type="button" class="btn btn-danger" ng-click="deleteProductFromCart(item.productId)">Удалить</button></td>
        </tr>
        <tr>
            <td>Итого</td>
            <td></td>
            <td>{{cart.totalPrice}}</td>
        </tr>
        </tbody>
    </table>
    <button type="button" class="btn btn-primary" ng-click="clearCart()">Очистить корзину</button>
    <button class="btn btn-primary" ng-click="checkOut()" ng-show="isUserLoggedIn() && cart.items.length > 0">Оформить заказ</button>
    <button class="btn btn-secondary" ng-click="disabledCheckOut()" ng-show="!isUserLoggedIn() && cart.items.length > 0">Оформить заказ</button>
</div>
</body>
</html>